*.pyc
.idea
/.project
/.pydevproject
/.~lock.Negation.csv#
/.~lock.args.xlsx#
/.~lock.complex_advmod.ods#
/.~lock.prep_list.ods#
/Negation.csv
/PTB_ORDERED.dp
/advmod.csv
/appos.csv
/args.csv
/args.xlsx
/complex_advmod.csv
/complex_advmod.ods
/con_pp.json
/head.csv
/inf.csv
/inf6.csv
/inf6.ods
/keshet.xlsx
/lemma.csv
/numbered_PTB.csv
/numbered_PTB.ods
/passive_voice.csv
/prep_list.ods
/preps.csv
/preps.ods
/preps_adv.csv
/preps_adv_updated.csv
/tense.csv
/time.csv
/uncovered5.csv
/uncovered6.csv
/weird_appos.txt
/~$args.xlsx
/~$keshet.xlsx
/PTB_single.dp
/adj_det.xlsx
/adj.csv
/adj_no_det.csv
/appos.xls.csv
/conditional.xlsx
/cop.csv
/if.csv
/if.xlsx
/if_2.csv
/poss.csv
/poss.xlsx
/poss_no_det.csv
/problematic adj.txt
/problematic cop.txt
/problematic marks.txt
/rcmod.csv
/unc.csv
/unc_verbal.csv
/uncovered2.csv
naacl2013Data.zip
pdf/
/compile.bat
./pdf/
/qnd.py
/problematic.p
/problematic3.p
/problematic_copy.p
/ptb_hundreds.dp
/qnd_ptb.py
/tmp.dot
/barrons_100_dep.txt
/Oxford_English_Dictionary.txt
/names.txt
/AD.zip
/scowl-2014.11.17.zip
/worldcitiespop.txt.gz
/barrons_extractions.txt
/advmod.out
/advmod2.out
/WSJ/
/autogen0.html
/temp

/pdf-stable/
/verb_ccomp.csv
/noun_ccomp.csv
/adj_ccomp.csv
/acomp.dp
/acomp.p
/extractions.txt
/tmp
/merged.svg
/dtvis.svg
/qt_api_test.svg
/qt_api_test2.svg
/PTB_collapsed.dp
/PTB_collapsedTree.dp
/PTB_collapsedTree_hundreds.dp
/PTB_collapsed_hundreds.dp
/dep_dealt_with.txt
/dep_to_deal_with.txt
/dependencies.txt
/temp.png
/PTB_collapsed_one.dp
/TB_few.txt
/ptb_one.dp
/0.dot
/0.svg
/deps.txt
/deps_out.txt
/pos.txt
/pos_out.txt
/PTB_few_proposal.dp
/acomp.csv
/raw.tmp
/test_load.prop
/have.txt
/non-restrictive.csv
/outline.txt
/poss_examples.txt
/possible_lv.csv
/xcomp_sentence.tb
/stories/
/stories_copy/
/graph_results.txt
/label_set.txt
/sample.html
/temp.txt

install/
berkeleyparser/
dependency_tree/stanford-corenlp-3.3.1.jar
build/
dist/
props.egg-info/
props/dependency_tree/stanford-corenlp-3.3.1.jar
